@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.content-wrapper {
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
}
.imgProfile {
    float: right;
    white-space: nowrap;
    vertical-align: middle;
    width: 50%;
    height: auto;
}
h1 {
    line-height: 0.5;
    font-size: 60px;
    margin-bottom: 0;
}
h2 {
    font-size: 30px;
}
.titleAbout {
    margin-top: 30%;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(47, 165, 181);
    box-shadow: 0 15px rgb(255, 149, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 18px;
}
.detailsAbout {
    padding-left: 0;
    padding-right: 0;
    text-indent: 10%;
    text-align: justify;
}
a {
    margin-right: 20px;
}
a:last-child {
    margin-right: 0;
}
.imgSocial {
    white-space: nowrap;
}
.imgSocial a {
    display: inline-block;
    vertical-align: middle;
}
@media screen and (max-width: 768px) {
    .imgProfile {
        float: none;
        display: block;
        margin: 10% auto 5%;
        max-width: 300px;
        width: 100%;
        height: auto;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
    }
    .image-container {
        order: -1;
        text-align: center;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 58px;
        text-align: center;
        margin-top: 5px;
    }
    h2 {
        font-size: 30px;
        text-align: center;
    }
    .imgSocial {
        text-align: center;
    }
}
@media screen and (max-width: 375px) {
    .imgProfile {
        float: none;
        display: block;
        margin: 2% auto 5%;
        max-width: 100%;
        height: auto;
    }
    .imgSocial {
        text-align: center;
    }
    .imgSocial img {
        width: 25vw;
        max-width: 100px;
        min-width: 40px;
        height: auto;
        margin: 0 3px;
    }
    .imgSocial a {
        display: inline-block;
        margin-right: 5px;
    }
    .imgSocial a:last-child {
        margin-right: 0;
    }
}
@media screen and (max-width: 470px) {
    .srpSmall {
        font-size: 0.7em;
        font-weight: bolder;
    }
}