@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Noto Sans;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    position: relative;
    background-image: url('https://www.sabiyo.my.id/pemilu/img/AFOSISBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 21, 90, 0.2); /* Lapisan semi-transparan */
    z-index: 0; /* Pastikan lapisan ini berada di belakang konten */
}

.container {
    position: relative; /* Agar kontainer tetap di atas lapisan gelap */
    z-index: 1; /* Pastikan konten terlihat di atas lapisan gelap */
    width: 100%;
    max-width: 1000px; /* Meningkatkan lebar kontainer */
    background-color: white;
    padding: 30px; /* Meningkatkan padding dalam kontainer */
    border-radius: 20px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow-y: auto;
    max-height: calc(100vh - 100px); /* Menyesuaikan dengan tinggi layar dan margin */
    margin: 30px;
}

#candidates {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px; /* Menambah jarak antar elemen kandidat */
}

.candidate {
    padding: 20px; /* Menambah padding pada elemen kandidat */
    width: calc(45% - 20px);
    margin: 15px; /* Menambah jarak antar elemen */
    text-align: center;
    font-size: 1.5em; /* Meningkatkan ukuran font */
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    color: white;
}

.candidate-01 {
    background-color: #ff4d4d;
}

.candidate-02 {
    background-color: #007bff;
}

.candidate-03 {
    background-color: green;
    width: 100%; /* Lebar penuh */
    max-width: 450px; /* Batasi lebar maksimal */
    margin: 10px auto; /* Pusatkan dengan margin otomatis */
    background-color: green;
}

.timer-display {
    font-size: 2.5em; /* Meningkatkan ukuran font */
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.image-box {
    width: 100%;
    max-width: 300px; /* Meningkatkan ukuran gambar */
    height: 300px;
    background-color: #eaeaea;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.timer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; /* Menambah jarak antar timer */
    font-size: 1.5em; /* Meningkatkan ukuran font */
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.controls input {
    width: 80px; /* Meningkatkan lebar input */
    margin: 0 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px; /* Meningkatkan padding input */
}

.hint-box {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 5px solid #dfdfdf;
    padding: 30px; /* Meningkatkan padding hint box */
    border-radius: 20px;
    display: none;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: medium; /* Meningkatkan ukuran font hint */
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em; /* Meningkatkan ukuran font tombol tutup */
    color: #ff0000;
}

.warning {
    color: red;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px; /* Menambah jarak bawah header */
}

.header-image {
    width: 120px;
    height: auto;
}

.header h1 {
    font-size: 3em; /* Meningkatkan ukuran font header */
    color: #333;
    margin: 0;
}

.candidate h2 {
    font-size: 2em; /* Meningkatkan ukuran font h2 */
    margin: 0;
}

.warning {
    display: none;
    color: red;
    font-weight: normal;
    text-align: center;
    font-size: 1.8em; /* Meningkatkan ukuran font warning */
    padding: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#error-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff1a1a;
    color: white;
    z-index: 9999;
    text-align: center;
    font-size: 5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    letter-spacing: 2px;
    animation: redBlink 1s infinite;
}

#error-overlay img {
    max-width: 500px;
    margin-bottom: 10px;
}

@keyframes redBlink {
    0% {
        background-color: #bc1122;
    }

    50% {
        background-color: #ff1a1a;
    }

    100% {
        background-color: #bc1122;
    }
}
